/*
Theme Name:   M_Mares
Theme URI:    https://wp.dreamsengien.io
Description:  M_Mares
Author:       Dreams Engine
Author URI:   https://wp.dreamsengien.io
Template:     iggy-type-0
Version:      1.0.4
License:      GNU General Public License v3 or later
License URI:  http://www.gnu.org/licenses/gpl-3.0.html
Tags:         two-columns, custom-background, custom-colors, custom-menu, featured-images, theme-options, threaded-comments, translation-ready
Text Domain:  M_Mares
*/

#pinno-main-nav-top {
  display: block;
}

@media screen and (min-width: 960px) {
  #pinno-main-nav-top {
    display: none;
  }
}

.pinno-nav-small,
.pinno-fixed1,
.pinno-nav-small-fixed {
  top: -70px !important;
  display: block !important;
}
#pinno-nav-small-left{
  margin: 30px 20px 15px 0;
}
span.pinno-nav-search-but{
  padding: 30px 0;
}
#pinno-main-nav-small .pinno-nav-menu ul:not(.sub-menu) {
  display: flex;
  flex-flow: row;
  height: 61px;
  align-items: center;
}
.pinno-fly-but-wrap span:nth-child(2),
.pinno-fly-but-wrap span:nth-child(3),
.pinno-fly-but-wrap span:nth-child(4) {
  width: 30px;
}

#pinno-feat2-wrap {
  margin-bottom: 60px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  #pinno-feat2-wrap {
    width: 1200px;
    float: unset;
  }
}

h4.pinno-widget-home-title {
  float: left;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
  width: 100%;
}

h3.pinno-feat1-pop-head:before,
h1.pinno-feat1-pop-head:before,
h4.pinno-widget-home-title:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 10px;
  background: #1f2936;
}

span.pinno-widget-home-title,
span.pinno-feat1-list-but,
.pinno-post-cat {
  transform: skewX(0deg) !important;
  background: none;
  color: #1f2936;
  padding: .3em .5em;
  font-size: 1.2rem;
  font-weight: 400;
}

#pinno-content-main p a:hover,
.pinno-post-add-main p a:hover {
  background: #1f2936;
  color: white;
}

span.pinno-post-cat {
  /*background: transparent;
/*  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #dd3234;
  padding: 0;
  font-size: 1em;*/
}
span.pinno-post-cat {
  font-weight: 300;
}

span.pinno-cd-cat.left.relative {
/*  font-family: "Montserrat", sans-serif;*/
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 1px;
}

.pinno-nav-small-logo {
  line-height: 0;
  margin: 6px 20px 10px 0;
  max-width: 320px !important;
  max-height: 60px;
  height: 100%;
}

.pinno-nav-small-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#pinno-fly-logo img {
  line-height: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#pinno-comments-button {
  display: none;
}

/* main post styles */

.f4_module--one {
  background-color: #23252d;
  color: #fff;
}

.f4_module-wrap {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.f4_module--one--type2 .f4_module--one-article--second a {
  color: #fff;
  text-decoration: none;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--image--second {
  margin: 16px 16px 16px 8px;
  margin: 1rem 1rem 1rem 0.5rem;
}
.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module-resize--third {
  width: 100%;
  height: 225px;
}
.f4_module-resize--third {
  width: 100%;
  height: 232.25806px;
}

figure {
  margin: 0;
  padding: 0;
}

.f4_module-image--full {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: cover;
}

.lazyloaded {
  opacity: 1;
  transition: all 0.3s ease-in;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--right--second {
  -ms-flex: 2;
  flex: 2;
  padding: 16px;
  padding: 1rem;
  word-break: break-word;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--right--second
  h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-size: 2rem;
  line-height: 36px;
  line-height: 2.25rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.f4_module--one--type2 .f4_module--one-article--second a {
  color: #fff;
  text-decoration: none;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--right--second
  .f4_module--one-article--right--second__except {
  font-size: 19.2px;
  font-size: 1.2rem;
}

.f4_metas {
  font-family: Noto Sans, Helvetica, Arial, sans-serif;
  font-size: 11.2px;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.7em 0;
}

.f4_module--one--type2 .f4_module--one-article--second {
  display: -ms-flexbox;
  display: flex;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--right--second
  .f4_module--one-metas--second
  span {
  display: block;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--right--second
  .f4_module--one-related--second
  h2 {
  margin: 16px 0;
  margin: 1rem 0;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--right--second
  .f4_module--one-related--second
  ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.f4_module--one--type2
  .f4_module--one-article--second
  .f4_module--one-article--right--second
  .f4_module--one-related--second
  ul
  li {
  margin-top: 4.8px;
  margin-top: 0.3rem;
}

.f4_module--one--type2 .f4_module--one-article--second a {
  color: #fff;
  text-decoration: none;
}

/* home post layout type 4 */

.f4_module--one--type4 .articles-list--type4 {
  display: -ms-flexbox;
  display: flex;
  padding: 22.4px 8px;
  padding: 1.4rem 0.5rem;
}

.f4_module--one--type4 .articles-list--type4 article {
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
}

.f4_module--one--type4 .articles-list--type4 .articles-list--type4__meta {
  padding: 0 16px;
  padding: 0 1rem;
}

.f4_module--one--type4 .articles-list--type4 h2 {
  margin: 0;
  padding-bottom: 3.2px;
  padding-bottom: 0.2rem;
  font-size: 17.6px;
  font-size: 1.1rem;
}

.f4_module--one--type4 .articles-list--type4 .articles-list--type4__meta span {
  font-size: 11.2px;
  font-size: 0.7rem;
  padding-top: 4.8px;
  padding-top: 0.3rem;
  display: block;
}

.f4_metas {
  font-family: Noto Sans, Helvetica, Arial, sans-serif;
  font-size: 11.2px;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.7em 0;
}

.f4_module--one--type4 .articles-list--type4--mobile {
  padding: 24px;
  padding: 1.5rem;
  display: none;
  overflow: hidden;
}

.f4_module--one--type4 .articles-list--type4 figure img {
  width: 213.33333px;
  height: 120px;
}

/* layout 5 styles */

.f4_module--one--type5 .f4_module-wrap {
  display: -ms-flexbox;
  display: flex;
  padding: 16px 8px;
  padding: 1rem 0.5rem;
}

.f4_module--one--type5 #module-f5__figure {
  background: #000;
}

/* .f4_module--one--type5 .f4_module-resize--third {
    width: 400px;
    height: 225px;
    position: relative;
} */

.f4_module-resize--third {
  width: 412.90323px;
  height: 232.25806px;
}
figure {
  margin: 0;
  padding: 0;
}

.f4_module--one--type5 .f4_module--one--type5__logo {
  padding-left: 32px;
  padding-left: 2rem;
}

.f4_module--one--type5 .f4_module--one--type5__cover {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.4s ease-out;
}

.f4_module--one--type5 .play-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  transform: translate(-50%, -50%);
  transition: all 0.1s linear;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
.play-button {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0zMjAgMjMyIDE1MCAxNTAiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOiMwMDA7fS5zdDF7ZmlsbDojRkZGO29wYWNpdHk6LjU7fS5zdDJ7ZmlsbDojRkZGO308L3N0eWxlPjxjaXJjbGUgY2xhc3M9InN0MSIgY3g9Ii0yNDUiIGN5PSIzMDciIHI9Ijc0IiAvPjxjaXJjbGUgY2xhc3M9InN0MiIgY3g9Ii0yNDUiIGN5PSIzMDciIHI9IjYyIiAvPjxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iLTI2NC4xIDMzOS41IC0yNjQuMSAyNzQuNSAtMjA3LjkgMzA3ICIvPjwvc3ZnPg==);
  border: none;
  height: 50px;
  width: 50px;
}

.iframe-responsive[src*="youtube"] {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  object-fit: inherit !important;
}

/* .f4_module--one--type5 .f4_module-resize--third {
    width: 400px;
    height: 225px;
    position: relative;
} */

/* ======================   NEW STYLES   ============  */
ul.pinno-feat1-list-buts li{
  width: auto !important;
}
h1.pinno-author-top-head{
  font-weight: 300;
}
.pinno-blog-story-wrap{
  border-top: 1px solid #ddd;
}
.pinno-widget-feat2-right-text h2, 
.pinno-feat1-list-text h2, 
.pinno-flex-story-text h2, 
h2,
.pinno-widget-feat1-bot-text h2,
.pinno-blog-story-text h2{
  font-weight: 400;
}
.pinno-widget-feat1-bot-text h2{
  font-size: 1.5rem;
}

#pinno-main-nav-top {
  display: block;
  background-color: #01347b;
  padding: 10px 0 10px;
}
.pinno-nav-top-left .pinno-fly-but-wrap span {
  background-color: #fff;
}
.pinno-nav-top-right .pinno-nav-search-but {
  color: #fff;
}

a.pinno-nav-logo-reg img {
  max-height: 50px;
}
/*
.pinno-nav-small {
  height: 50px !important;
}*/
.pinno-nav-small-cont{
  height: 80px !important;

}
body:not(.page-template-page-home) #pinno-main-nav-top {
  height: auto !important;
}
.pinno-feat2-bot-text h2,
.pinno-widget-feat1-top-text h2,
h2 {
  font-weight: 400;
}
body.archive h1.pinno-feat1-pop-head {
  text-align: left;
}
h4.pinno-widget-home-title{
  border-bottom: #0082ae 3px solid;
}
h1.pinno-feat1-pop-head {
  width: auto;
  border-bottom: tomato 2px solid;
}
span.pinno-widget-home-title,
body.archive h1.pinno-feat1-pop-head span{
  font-weight: 300;
  font-size: 1.8em;
  color: white;
  padding: .1em .15em 0;
  background: #0082ae;
}
span.pinno-widget-home-title:after,
body.archive h1.pinno-feat1-pop-head span:after {
  /*content: "";*/
  display: inline-block;
  background: #01347b;
  width: 95px;
  height: 26px;
  position: absolute;
  top: 2px;
  margin-left: 0.4em;
}
div#pinno-home-widget-wrap .pinno-widget-ad {
  margin-top: 50px;
}
.pinno-feat2-top-text {
  text-align: left;
  width: 100%;
  min-height: 100%;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 2em;
  float: none;
  background: #01347ba1;
}
.pinno-feat2-top-text-box {
  margin: 0 auto;
  height: 100%;
}
.pinno-feat2-top-text-wrap {
  padding: 0;
  width: 100%;
  height: 100%;
  background: none;
}
.pinno-feat2-bot-wrap h2 {
  font-weight: 400;
}
.pinno-vid-box-wrap {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff6b;
  border: #3a3a3a solid thick;
  font-size: 20px;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
}
.pinno-vid-box-small {
  width: 50px;
  height: 50px;
  border-width: medium;
  color: #dd3233;
  padding-top: 0.2em;
  padding-left: 0.2em;
}
.pinno-vid-marg i {
  position: absolute;
  font-size: 2.3rem;
  top: 50%;
  left: 53%;
  margin: 0;
  transform: translate(-50%, -50%);
  color: #dd3234;
}
.pinno-widget-dark-feat-text.left.relative {
  width: 100%;
  background: #0000009c;
  padding: 1em;
}

.pinno-widget-dark-main span.pinno-cd-cat.left.relative {
  color: #fff;
}
div#pinno-fly-wrap {
  background: #fff;
  color: white;
}
#pinno-fly-wrap .pinno-fly-but-wrap span {
  background-color: #01347b;
}
nav.pinno-fly-nav-menu ul li {
  border-bottom: 01347b solid thin;
}
nav.pinno-fly-nav-menu ul li a {
  color: #393939;
  font-size: 1.2em;
}
nav.pinno-fly-nav-menu ul.sub-menu li a {
  font-weight: 300;
  padding-left: .3em;
}
nav.pinno-fly-nav-menu ul.sub-menu li:hover{
  background: #e6e6e6;
}

.pinno-widget-dark-wrap{
  background: rgb(112,2,2);
  background: linear-gradient(0deg, rgba(162,0,0,1) 0%, rgba(223,56,56,1) 79%);
  background-attachment: fixed;
}
.pinno-widget-dark-wrap span.pinno-widget-home-title, span.pinno-cd-date.left.relative {
  color: white;
}
.pinno-widget-dark-wrap span.pinno-widget-home-title:after {
  background: white;
}
.pinno-widget-dark-wrap span.pinno-cd-date:before {
color:#000;
}
#pinno_flex_widget-10 h4.pinno-widget-home-title:before,
#pinno_home_feat1_widget-6 h4.pinno-widget-home-title:before,
#pinno_flex_widget-11 h4.pinno-widget-home-title:before,
body.archive h1.pinno-feat1-pop-head:before,
h4.pinno-widget-home-title:before {
  display: none;
}

section#pinno_home_feat1_widget-6,
#pinno_home_feat_category_title-2,.widget_pinno_home_feat_category_title {
  /*background: #efeff4;*/
  background: #0082ae;
  padding: 2em 0 1em;
}

@media screen and (max-width: 599px) and (min-width: 480px) {
  .pinno-widget-dark-sub-img .pinno-vid-box-small {
    width: 50px !important;
    height: 50px !important;
    color: #0be6af;
    font-size: 1.2em !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }
}

h3 span.pinno-feat1-pop-head {
  transform: none !important;
  background: none !important;
  border: thin solid white;
  font-weight: 300 !important;
}
/*===========  SIDEBAR =====*/

ul.pinno-feat1-list-buts li {
  text-align: center;
}
.pinno-flex-story-img{
  background: transparent;
}
#pinno-side-wrap .pinno-flex-row .pinno-mob-img {
  display: block !important;
  border-radius: 50%;
  border: solid 3px #0082ae;
}
/* ==================            ESTILOS CATEGORY =============*/
/*.archive .pinno-feat1-feat-img{
  height: auto;
}*/
.archive .pinno-widget-feat2-left-alt {
  width: 100%;
}
body.archive .pinno-feat1-feat-text.left.relative {
  width: 100%;
  position: relative;
  background: none;
  color: black;
  padding: 0;
  margin: 25px 0;
}
body.archive .pinno-feat1-feat-text.left.relative h2 {
  color: black;
}
body.archive .pinno-feat1-feat-text.left.relative p {
  color: #555;
}
body.archive .pinno-widget-feat2-left-cont span.pinno-cd-date {
  color: #777;
}
@media screen and (max-width: 1099px) and (min-width: 1004px) {
  body.archive .pinno-widget-feat2-left,
  body.archive .pinno-widget-feat2-left-alt {
    width: 100%;
  }
}
@media screen and (max-width: 899px) and (min-width: 768px) {
  body.archive .pinno-widget-feat2-left,
  body.archive .pinno-widget-feat2-left-alt {
    width: 100%;
  }
}
@media screen and (max-width: 659px) and (min-width: 600px) {
  body.archive .pinno-widget-feat2-left,
  body.archive .pinno-widget-feat2-left-alt {
    width: 100%;
  }
}
@media screen and (max-width: 767px) and (min-width: 660px) {
  body.archive .pinno-widget-feat2-left,
  body.archive .pinno-widget-feat2-left-alt {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) and (min-width: 1100px) {
  body.archive .pinno-widget-feat2-left,
  body.archive .pinno-widget-feat2-left-alt {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .archive .pinno-widget-feat2-left-alt {
    margin-top: 0 !important;
  }
  .archive .pinno-feat1-feat-text {
    width: 90%;
  }
}
/* ====================  ESRILOS POSTS   ====================*/
.pinno-drop-nav-title h4 {
  color: white;
}
#pinno-post-feat-img-wide #pinno-post-feat-img img {
  opacity: 1;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}
#pinno-post-feat-img-wide {
  overflow: visible;
  max-height: none;
  background: #fff;
}
#pinno-post-feat-text-wrap {
  position: relative;
  left: 0;
  bottom: 30%;
  width: 100%;
  color: black;
}
h1.pinno-post-title-wide {
  color: black;
  text-shadow: none;
  font-weight: 600;
}
h1.pinno-post-title,
#pinno-content-main blockquote p, 
.pinno-post-add-main blockquote p{
  font-weight: 400;
}
.pinno-post-feat-text {
  width: 90%;
}
h3.pinno-post-cat {
  margin-top: 2em;
  margin-bottom: 0;
}

.pinno-post-feat-text span.pinno-post-excerpt {
  color: black;
}
.pinno-post-feat-text {
  max-width: none;
}
@media screen and (max-width: 1099px) and (min-width: 1004px) {
  .pinno-post-feat-text-main .pinno-post-feat-text {
    width: 90%;
  }
}
@media screen and (max-width: 899px) and (min-width: 768px) {
  .pinno-post-feat-text-main .pinno-post-feat-text {
    width: 90%;
  }
}
@media screen and (max-width: 659px) and (min-width: 600px) {
  .pinno-post-feat-text-main .pinno-post-feat-text {
    width: 90%;
  }
}
@media screen and (max-width: 767px) and (min-width: 660px) {
  .pinno-post-feat-text-main .pinno-post-feat-text {
    width: 90%;
  }
}
@media screen and (max-width: 1199px) and (min-width: 1100px) {
  .pinno-post-feat-text-main .pinno-post-feat-text {
    width: 90%;
  }
}
@media screen and (max-width: 599px) and (min-width: 480px) {
  .pinno-post-feat-text-main .pinno-post-feat-text {
    width: 90%;
  }
}
@media screen and (max-width: 479px) {
  .pinno-post-feat-text-main .pinno-post-feat-text {
    width: 90%;
  }
}
/* ==================            ESTILOS PLUGIN CATEGROY =============*/
h4.text3posts-title span{
  font-size: 3em;
color: white;
}
.widget_pinno_home_feat_category_title span.pinno-cd-cat.left.relative{
  font-size: 1.1em;
  color: #ffffff;
  padding: .3em;
}
.widget_pinno_home_feat_category_title h2 {
  color: #fff;
}
#pinno_home_feat_category_title-2 .pinno-main-box, .widget_pinno_home_feat_category_title .pinno-main-box {
  display: flex;
  justify-content: space-between;
}
#pinno_home_feat_category_title-2 .pinno-widget-home-head, .widget_pinno_home_feat_category_title .pinno-widget-home-head {
  width: 23.7%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
#pinno_home_feat_category_title-2 .pinno-widget-feat1-wrap.left.relative, .widget_pinno_home_feat_category_title .pinno-widget-feat1-wrap.left.relative {
  width: 75%;
}
#pinno_home_feat_category_title-2 .pinno-widget-feat1-cont.left.relative a, .widget_pinno_home_feat_category_title .pinno-widget-feat1-cont.left.relative a {
  width: calc(100% / 3);
  display: block;
}
#pinno_home_feat_category_title-2 .pinno-widget-feat1-cont.left.relative, .widget_pinno_home_feat_category_title .pinno-widget-feat1-cont.left.relative {
  display: flex;
  justify-content: space-between;
}
#pinno_home_feat_category_title-2 .pinno-widget-feat1-bot-story.left.relative, .widget_pinno_home_feat_category_title .pinno-widget-feat1-bot-story.left.relative {
  width: 95%;
  margin: 0;
  padding: 0;
}
#pinno_home_feat_category_title-2 h4.pinno-widget-home-title:before,
#pinno_home_feat_category_title-2 span.pinno-widget-home-title:after,
.widget_pinno_home_feat_category_title h4.pinno-widget-home-title:before,
.widget_pinno_home_feat_category_title span.pinno-widget-home-title:after {
  display: none !important;
}
#pinno_home_feat_category_title-2 h4.pinno-widget-home-title, .widget_pinno_home_feat_category_title h4.pinno-widget-home-title {
  color: #01347b;
  margin-bottom: 9px;
  font-size: 1.5em;
}
#pinno_home_feat_category_title-2 span.pinno-widget-home-title, .widget_pinno_home_feat_category_title span.pinno-widget-home-title {
  padding-right: 11px;
}
#pinno_home_feat_category_title-2 .pinno-widget-feat1-bot-text, .widget_pinno_home_feat_category_title .pinno-widget-feat1-bot-text {
  margin: 1em 0 1.4em;
}
@media screen and (max-width: 768px) {
  .pinno-widget-feat1-bot-text h2 {
    font-weight: 400;
  }
  #pinno_home_feat_category_title-2 .pinno-main-box,  .widget_pinno_home_feat_category_title .pinno-main-box {
    flex-flow: column;
  }
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-cont.left.relative,   .widget_pinno_home_feat_category_title .pinno-widget-feat1-cont.left.relative {
    flex-flow: row wrap;
  }
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-wrap.left.relative,   .widget_pinno_home_feat_category_title .pinno-widget-feat1-wrap.left.relative {
    width: 100%;
  }
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-cont.left.relative a, .widget_pinno_home_feat_category_title .pinno-widget-feat1-cont.left.relative a {
    width: 50%;
    margin-top: 1em;
  }
  #pinno_home_feat_category_title-2
    .pinno-widget-feat1-cont.left.relative
    a:first-of-type,.widget_pinno_home_feat_category_title
    .pinno-widget-feat1-cont.left.relative
    a:first-of-type {
    width: 100%;
  }
  #pinno_home_feat_category_title-2 .pinno-widget-home-head,.widget_pinno_home_feat_category_title .pinno-widget-home-head {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-cont.left.relative a, .widget_pinno_home_feat_category_title .pinno-widget-feat1-cont.left.relative a {
    width: 100%;
    display: block;
    clear: both;
    float: none;
  }
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-bot-story, .widget_pinno_home_feat_category_title .pinno-widget-feat1-bot-story {
    overflow: visible;
    height: auto;
  }
  #pinno_home_feat_category_title-2
    .pinno-widget-feat1-bot-img.left.relative
    img,  .widget_pinno_home_feat_category_title
    .pinno-widget-feat1-bot-img.left.relative
    img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-bot-img.left.relative,  .widget_pinno_home_feat_category_title .pinno-widget-feat1-bot-img.left.relative {
    width: 100%;
    max-width: none;
  }
  body:not(.page-template-page-home) #pinno-main-nav-top,
  #pinno-main-nav-wrap div#pinno-main-nav-top {
    height: auto !important;
  }
}
@media screen and (max-width: 599px) {
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-cont.left.relative a, .widget_pinno_home_feat_category_title .pinno-widget-feat1-cont.left.relative a {
    width: 100%;
    display: block;
    clear: both;
    float: none;
  }
  #pinno_home_feat_category_title-2 .pinno-widget-feat1-bot-story, .widget_pinno_home_feat_category_title .pinno-widget-feat1-bot-story {
    overflow: visible !important;
    height: auto !important;
  }
  #pinno_home_feat_category_title-2
    .pinno-widget-feat1-bot-img.left.relative
    img,  .widget_pinno_home_feat_category_title
    .pinno-widget-feat1-bot-img.left.relative
    img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
@media screen and (max-width: 599px) and (min-width: 480px) {
  body:not(.page-template-page-home) #pinno-main-nav-top,
  #pinno-main-nav-wrap div#pinno-main-nav-top {
    height: auto !important;
  }
}
@media screen and (max-width: 767px) and (min-width: 660px) {
  body:not(.page-template-page-home) #pinno-main-nav-top,
  #pinno-main-nav-wrap div#pinno-main-nav-top {
    height: auto !important;
  }
  .pinno-widget-feat1-bot-story {
    overflow: visible;
    height: auto;
}
}
@media screen and (max-width: 1003px) and (min-width: 900px) {
  body:not(.page-template-page-home) #pinno-main-nav-top,
  #pinno-main-nav-wrap div#pinno-main-nav-top {
    height: auto !important;
  }
}
@media screen and (max-width: 899px) and (min-width: 768px) {
  body:not(.page-template-page-home) #pinno-main-nav-top,
  #pinno-main-nav-wrap div#pinno-main-nav-top {
    height: auto !important;
  }
}
@media screen and (max-width: 659px) and (min-width: 600px) {
  body:not(.page-template-page-home) #pinno-main-nav-top,
  #pinno-main-nav-wrap div#pinno-main-nav-top {
    height: auto !important;
  }
}

/*optativos, tarjeta gris (hay qu emover también el script)*/

.widget_pinno_home_feat_category_title h2, .widget_pinno_home_feat_category_title span {
  color: #0082ae !important;
  margin-left: .5em;
}
.widget_pinno_home_feat_category_title h2 {
  margin-top: .5em;
}
.widget_pinno_home_feat_category_title span {
  border:solid #0082ae thin ;
    border-width: 1px;
    /*margin-top: .5em;*/
}
.widget_pinno_home_feat_category_title .pinno-widget-feat1-bot-story {
background: #efefef;
box-shadow: #404040c7 0 0 7px;
border-radius: 5px;
height: 100%;
}
.widget_pinno_home_feat_category_title .pinno-widget-feat1-bot-img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

h4.text3posts-title:first-of-type span {
  font-size: 2.5em;
  color: white !important;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
}
@media screen and (min-width:900px){
  h4.text3posts-title:first-of-type span {
    font-size: 3em;
  }
}
/* ==================            ESTILOS PLUGIN FULLWIDTH FEATURED =============*/

section.widget_fullwidth_featured .pinno-main-box {
  width: 100%;
}
#pinno-feat6-text p{
  font-family: 'Quattrocento',sans-serif !important;
}
section.widget_fullwidth_featured #pinno-feat6-text h2 span {
  background-image: linear-gradient(#0082ae,#0082ae);
  background-size: 0;
  background-repeat: no-repeat;
  display: inline;
  transition: 0.5s ease;
  padding: 0;
  margin: 0;
  border-left: solid 2px #0082ae;
  padding-left: .2em;
}
section.widget_fullwidth_featured #pinno-feat6-text:hover h2 span {
  background-size: 100%;
}
@media screen and (min-width:768px){
  section.widget_fullwidth_featured #pinno-feat6-wrap {
    max-height: 480px;
  }
  section.widget_fullwidth_featured #pinno-feat6-text {
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 3em;
    top: 0;
}
#pinno-feat6-main {
  width: 100%;
  max-height: 480px;
}
}
section.widget_fullwidth_featured #pinno-feat6-img{
  width:auto;
}
section.widget_fullwidth_featured #pinno-feat6-text h2{
font-size: 2.15em;
font-weight: 300;
line-height: normal;
letter-spacing: normal;
/*border-left: solid 2px #0082ae;
padding-left: 0.2em;*/
}
.wrap1200 {
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
}
section.widget_fullwidth_featured h2{
  font-weight: 400;
} 


/*=========================================   NEW MENU  styles =============*/
.pinno-nav-small-mid-right{
  display: none !important;
}
.pinno-nav-small-mid {
  display: flex;
  justify-content: center;
}


/*=========================================  COVER =============*/
.widget_custom_html .pinno-main-box .textwidget, .widget_custom_html .pinno-main-box, .cover-main {
  width: 100%;
}
.cover-main {
  background-image: url(https://cdn.marcomares.com.mx/2017/05/fondorecortado.png);
  background-position: center;
}
.cover-hold {
  max-width: 1200px;
  margin: 0 auto !important;
  display: block;
  width: 100%;
  float: none !important;
  clear: both;
}
.widget_custom_html .pinno-main-box {
  margin: 0 !important;
}
.cover-hold figure {
  max-width: 300px;
  margin: 65px 0;
}
.pinno-widget-home:nth-of-type(2) {
  margin-top: 0px;
  /*border-top: white solid 2px;*/
}



/*=================    NEW FOOTER   ================*/
#pinno-foot-wrap {
  padding-top: 0;
}
#pinno-foot-logo{
  height: auto;
  width: 100%;
  background: #333333;
}
#pinno-foot-copy {
  width: 100%;
  padding-top: 0.4em;
  text-align: right;
}
.top_footer {
  padding: 1.5em 0 1em;
  background: #191919;
  margin-bottom: 2em;
}

.top_footer #pinno-foot-menu ul li a {
  color: #fff;
  font-weight: 500;
}

.bottom_footer {
  display: flex;
  max-width: 1200px;
  width: 90%;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 2em auto;
  font-weight: 400;
  align-items: flex-start;
}

.bottom_footer h4{
  margin: 0 0 0.5em;
}

.bottom_footer h4,
.bottom_footer h4 a {
  color: white;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.footer_list li {
  margin: .5em 0;
  padding: 0 0.4em;
  float: left;
  background-image: linear-gradient(#0082ae,#0082ae);
  background-size: 0;
  background-repeat: no-repeat;
  display: inline;
  transition: 0.5s ease;
  border-left: solid 1px #0082ae;
}
.footer_list li:hover {
  background-size: 100%;
}
.footer_list li a {
  font-weight: 300;
  color: #aaa;
  text-align: left;
  font-size: .9em;
  font-family: 'Quattrocento',sans-serif;
}
.footer_list li a:hover{
  color: white;
}

#pinno-foot-logo img {
  max-width: 140px;
  margin: 0 auto;
  display: block;
}

#pinno-foot-logo {
  height: auto;
  width: 100%;
  background: #333333;
}
ul.pinno-foot-soc-list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  align-content: center;
}
ul.pinno-foot-soc-list li a {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff !important;
  display: inline-block;
  font-size: 1.3em;
  line-height: 1;
  margin-left: 8px;
  padding-top: 6px;
  text-align: center;
  width: 30px;
  height: 30px;
}

.footer_block {
  display: flex;
  flex-flow: column;
  }
@media screen and (max-width:599px) {

  #pinno-foot-logo img{
      margin: 0;
  }
  .footer_block {
      width: 100%;
      margin-bottom: 1em;
      text-align: center;
  }
  .footer_block:first-of-type{
      margin-bottom: 0;
  }
  .footer_block:nth-of-type(2) h4{
      display: none;
  }
  #pinno-foot-logo img{
      margin: 0 auto;
  }
}
@media screen and (min-width:600px) and (max-width:768px) {
  .footer_block {
      width: 50%;
      margin-bottom: 2em;
  }
  #pinno-foot-logo img{
      margin: 0;
  }
  ul.pinno-foot-soc-list,
  #pinno-foot-logo {
      text-align: left;
  }
}
.tablepress thead th, .tablepress tfoot th{
  font-weight: 400;
}
.tablepress tbody tr {
  border-top: 0;
  font-weight: 300;
}
.foot-media {
  display: flex;
  max-width: 1200px;
  width: 90%;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 2.5em auto;
  font-weight: 400;
  align-items: flex-start;
}
.foot-media-block {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 90%;
  margin-top: 1em;
}
@media screen and (min-width:920px){
  .foot-media-block {
    width: 30%;
    margin-top: 0;
  }
}
.foot-media h5 {
  color: white;
  font-weight: 400;
  font-size: 1.4em;
  background: #0082ae;
  padding: 0.2em .3em .3em;
  margin-bottom: 0em;
  width: 100%;
  text-align: center;
}
ul.pinno-feat1-list-buts {
  border-bottom: solid 2px #0082ae;
  text-align: left;
}
.foot_sep {
  display: block;
  height: 1px;
  background: #ffffff7a;
  width: 20%;
  margin: 0.9em 0;
}