.f4_red-forbes__table {
  width: 100%;
  background: #e6e7e8;
  padding: 2em 0;
  box-sizing: border-box;
}

.f4_red-forbes .f4_red-forbes__article {
  width: 100%;
  margin: 0.5em 0;
  height: auto;
  transform: translateY(0);
}

.f4_red-forbes__article__photo {
  width: 80px;
  height: 80px;
  background: #dcd7d7;
  border-radius: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 320px) {
  .quick_links {
    margin: 1.5em 0 0;
  }
  .f4_header__block {
    position: static;
  }

  .f4_header__block--burger {
    display: flex;
    width: 15%;
  }

  .f4_header__block.f4_header__block--large {
    width: 85%;
  }

  .active_post {
    display: none !important;
  }

  .bannerFig {
    width: 100%;
  }

  .f4_header__menu {
    display: none !important;
  }

  .f4_header__add {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .f4_header__add__wrap {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
  }

  .f4_header--mobile {
    display: block;
  }

  .f4_header__next {
    height: auto;
    line-height: 1.6em;
  }

  .f4_header__pub--top {
    display: none;
  }

  .f4_header__pub--bottom {
    display: block;
  }

  .f4_mainsection__wrap {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
  }

  .f4_red-forbes {
    flex-flow: column wrap;

    .f4_red-forbes__article {
      width: 100%;
      margin: 0.5em 0;
      height: auto;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    .f4_red-forbes__article__title {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.6em;
      margin: 0.5em;
      font-weight: 400;
    }
  }

  .f4_footer__table {
    flex-flow: column wrap;
  }

  .f4_footer__social,
  .f4_footer__register {
    margin: 1em auto !important;
  }

  .f4_footer__magazine {
    -webkit-transform: translateY(0) !important;
    transform: translateY(0) !important;
    margin: 1rem auto;
  }

  .f4_search_form__input--visible {
    width: 61vw !important;
  }

  .active_posts__info {
    .active_post__info__title {
      font-size: 1.3rem;
      line-height: 1.8rem;
    }
  }

  .mainsection__header {
    height: 230px;
    margin: 0.8em 0;
  }

  .mainsection__primary {
    width: 100%;
    float: none;
  }

  .mainsection__primary__cell {
    width: 100%;
    height: 210px;
  }

  .mainsection__cell__cat {
    margin: 0.5em 0;
    display: block;
  }

  .mainsection__primary__row h3 {
    font-size: 1.7em;
    line-height: 1.2em;
    margin: 0;
  }

  .mainsection__secundary {
    width: 100%;
    float: none;
  }

  .mainsection__title {
    font-size: 2rem !important;
    margin: 0.4em 0 !important;
  }

  .mainsection__header__cat {
    font-size: 0.9rem;
    margin: 0.3em 0;
    padding: 0 0.5em;
  }

  .mainsection__header__cat_title {
    font-size: 2.5rem;
    text-indent: 0;
    text-align: center;
  }

  .mainsection__header__title {
    font-size: 1em;
    padding: 0 0.5em;
  }

  .mobile_search {
    display: block;
  }

  .mobil_videos {
    display: block;
  }

  .mobil_videos__item {
    width: 100%;
  }

  .post_slider__button {
    display: none;
  }

  .post_slider {
    display: none !important;
    .post_slider__wrap {
      height: auto;
      padding: 0;
    }
  }

  $background: #f9f9f9;
  $foreground: #2c3e50;

  $foreground-light: #34495e;

  $size: 20px;
  $ratio: 1.2;

  $transition-time: 0.3s;

  .play {
    display: block;
    cursor: pointer;
    width: 0;
    height: 0;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: ($size * $ratio) solid $foreground;
    margin: ($size * 2) auto $size auto;
    position: relative;
    z-index: 1;
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
    left: ($size * 0.2);

    &::before {
      content: '';
      position: absolute;
      top: ($size * -1.5);
      left: ($size * -2.3);
      bottom: ($size * -1.5);
      right: ($size * -0.7);
      border-radius: 50%;
      border: ($size * 0.2) solid $foreground;
      z-index: 2;
      transition: all $transition-time;
      -webkit-transition: all $transition-time;
      -moz-transition: all $transition-time;
    }
    &::after {
      content: '';
      opacity: 0;
      transition: opacity ($transition-time * 2);
      -webkit-transition: opacity ($transition-time * 2);
      -moz-transition: opacity ($transition-time * 2);
    }

    &:hover,
    &:focus {
      &::before {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
      }
    }

    &.active {
      border-color: transparent;
      &::after {
        content: '';
        opacity: 1;
        width: ($size);
        height: ($size * 1.6);
        background: $foreground;
        position: absolute;
        right: ($size * 0.1);
        top: ($size * -0.8);
        border-left: ($size * 0.4) solid $foreground;
        box-shadow: inset ($size * 0.6) 0 0 0 $background;
      }
    }
  }

  .post_slider__swipe_icon {
    display: block;
  }

  .search-container__upper {
    display: none;
  }

  .side_menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 70px;
    box-sizing: content-box;
    background: white;
  }

  .side_menu__header {
    text-align: right;
  }

  .side_menu__list__arrow {
    display: block;
  }

  .side_menu__list__item {
    width: 100%;
  }

  .side_menu__search {
    width: 100%;
  }

  .side_menu__header__search {
    width: 29px;
    padding: 0.3em;
    top: -0.2em;
  }

  .side_menu__header__close {
    display: block;
  }

  .side_menu__header__title {
    display: block;
  }

  .side_menu__button {
    display: none;
  }

  .side_menu__wrap {
    width: 100%;
    margin: 0 auto;
  }

  .side_menu__magazine {
    display: block;
  }

  .side_menu__register {
    display: block;
  }

  .side_menu__social {
    display: block;
  }

  .side_menu__sub--forbes-life {
    background: #333 url(https://s17.postimg.org/yti6sruq7/lifelogo.png) no-repeat 90% 90%/77%;
  }

  .side_menu__sub__wrap--forbes-life {
    width: 100%;
  }

  .side_menu__sub__list--forbes-life {
    float: none;
    width: 100%;
  }

  .side_menu__sub__list__cat--listas {
    -webkit-transform: translateY(0.8rem);
    transform: translateY(0.8em);
    &::before,
    &::after {
      display: none;
    }
  }

  /**************************
    related videos styles
    **************************/

  .section_videos__side {
    width: 100%;
    float: none;
  }

  .section_videos__side--left {
    .section_videos__list__figure {
      width: 41%;
      img {
        object-fit: contain;
      }
    }

    .videos__cell {
      width: 53%;
      h3 {
        font-size: 1rem;
        line-height: 1.4em;
      }
    }
  }

  /* Forbes mundial */

  .banner__small {
    width: 90%;
  }

  .features__left,
  .features__right {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 100%;
    padding: 0;
    margin: 1em 0;
  }

  .features__headline__figure {
    img {
      height: 250px;
    }
  }

  .features__menu {
    width: 100%;
    figure {
      width: 100%;
      img {
        width: 100%;
        height: 100px;
        object-fit: contain;
      }
    }
    a {
      width: 100%;
      display: inline-block;
      text-align: center;
      margin: 0.5em 0;
      figure {
        img {
          height: 40px;
        }
      }
    }
  }

  .features__third {
    width: 100%;
    float: none;
    figure {
      img {
        max-height: 150px;
      }
    }
  }

  .features__special__img {
    width: 100%;
    float: none;
  }

  .features__special__content {
    width: 100%;
    float: none;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .f4_header__block--burger {
    display: flex;
    width: 15%;
  }

  .f4_header__block.f4_header__block--large {
    width: 85%;
    position: static;
  }

  .mobile_search {
    display: flex;
    align-items: center;
    right: 0.8rem;
  }

  .quick_links {
    margin: 2.1em 0 0;
  }

  .search-container__icon {
    display: none;
  }

  .search-container__upper {
    display: none;
  }

  .side_menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 70px;
    box-sizing: content-box;
    background: white;
  }

  /* Forbes mundial */

  .features__left,
  .features__right {
    display: block;
    width: 100%;
    margin: 1em 0;
    padding: 0;
  }

  .features__headline__figure {
    img {
      height: 270px;
    }
  }

  .features__third {
    width: 100%;
    float: none;
    box-sizing: border-box;
    margin: 1em 0;
  }

  .features__special__img {
    width: 100%;
    float: none;
  }

  .features__special__content {
    width: 100%;
    float: none;
    h2 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .features__menu {
    width: 100%;
    figure {
      width: 100%;
      img {
        width: 100%;
        height: 60px;
        object-fit: contain;
      }
    }
    a {
      width: 100%;
      display: inline-block;
      text-align: center;
      margin: 0.5em 0;
      figure {
        img {
          height: 40px;
        }
      }
    }
  }
}

.f4_mainsection__wrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.f4_red-forbes a {
  color: #000 !important;
  text-decoration: none;
}

.f4_red-forbes__article__author {
  display: block;
  margin: 0 0.5em;
  border-top: 1px solid #000;
  font-size: 16px;
  font-size: 1rem;
  line-height: 48px;
  line-height: 3rem;
  text-align: center;
}

.mainsection__title {
  font-size: 1.25em;
  font-family: Work Sans, sans-serif;
  -ms-flex-align: center;
  align-items: center;
  color: #333;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0;
  margin: 0 0.25em 2em;
  border-bottom: 1px solid #111;
}

.f4_red-forbes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.f4_red-forbes__article {
  width: 16%;
  margin: 0;
  transform: translateY(-21%);
  float: left;
}

.f4_red-forbes__article__title {
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 1.2em;
  margin: 0.5em 8px 0;
  margin: 0.5em 0.5rem 0;
  min-height: 100px;
  font-weight: 400;
  text-align: center;
  display: block;
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .f4_mainsection__wrap {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
  }

  .f4_red-forbes .f4_red-forbes__article {
    width: 100%;
    margin: 0.5em 0;
    height: auto;
    transform: translateY(0);
  }

  .f4_red-forbes .f4_red-forbes__article__photo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  .f4_red-forbes__table .f4_red-forbes__article {
    width: 50%;
    margin: 0.5em 0;
    transform: translateY(0);
  }

  .f4_red-forbes .f4_red-forbes__article__photo {
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 801px) {
  .f4_red-forbes__article {
    width: 16%;
    margin: 0;
    transform: translateY(-21%);
    float: left;
  }
}

@media only screen and (max-width: 1320px) {
  .f4_red-forbes__table {
    padding: 0 1.5rem;
  }
}
