ul.pinno-feat1-list-buts li {
  display: inline-block;
  width: 100%;
  text-align: left;

  .pinno-widget-home-title {
    transform: skewX(0deg) !important;
    background: none !important;
    color: #1f2936 !important;
    padding: 0 0 0.75em 0;
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
  }
}
